button {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

.overlay__btns {
    width: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
}

.overlay__btn {
    width: calc(50% - 0.375rem);
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--light-color);
    background: var(--dark-color);
    border: none;
    border-radius: 10px;
    transition: transform 150ms ease;
    outline-color: hsl(var(--hue), 95%, 50%);
}

.overlay__btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.overlay__btn--transparent {
    background: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-width: 2px;
    margin: 0;
}

.overlay__btn-emoji {
    margin: 0;
}